@media screen and (min-width: 700px) {
   .main {
        font-size: 1em;
        line-height: 1.375;
    }
    h1 {
        font-size: 2em;
        line-height: 1.25;
    }
    h2 {
        font-size: 2em;
        line-height: 1.25;
    }
    h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }
    
    ul{
        padding: 0 2em;
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 100%;
    }
    
    .featured-image {
        width: calc(50% - 1em);
    }
}
@media screen and (min-width: 1500px) {
    h1 {
        font-size: 3em;
        line-height: 1.05;
    }
    h2 {
        font-size: 1.625em;
        line-height: 1.15384615;
    }
    h3 {
        font-size: 1.4em;
        line-height: 1.23;
    }
    h3 {
        font-size: 1.753em;
        line-height: 1.25;
    }
    
    .featured-image {
        width: calc(25% - 1em);
    }
}

body {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

body, h1 {
    font-size-adjust: 0.5;
    margin: 0 10px;
}

.main {
    font-size: 1.4em;
    line-height: 1.3;
    background-color: yellow;
}

li {
   list-style-type: none;
}

picture{
    max-width: 90%;
}

h4 {
    font-size: 1.12em;
    line-height: 1.13;
}


}


.main {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 90%;
}
.main-title {
    font-family: 'Slabo 27px', serif;
    text-align: center;
    background-color: greenyellow;
}
.featured-image {
    margin: 1.5em 0;
    max-width: 90%;
}
.featured-image img {
    display: block;
    width: 100%;
    height: auto;
}
.image-caption {
    padding: 1.5em 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 85%;
    background: pink;
}
